<div markdown=0>
<script type="module" src="https://unpkg.com/esp-web-tools@3.6.0/dist/web/install-button.js?module"></script>

<select>
  <optgroup label="Generic ESP32">
    <option value="{{ site.download }}/esp32.json">
      ESP32
    </option>
    <option value="{{ site.download }}/esp32-noupdate.json">
      ESP32 - No Auto Updating
    </option>
    <option value="{{ site.download }}/esp32-verbose.json">
      ESP32 - Verbose Logging
    </option>
  </optgroup>
  <optgroup label="M5Stack Specific">
    <option value="{{ site.download }}/m5stickc.json">
      M5StickC - 80x160 Screen
    </option>
    <option value="{{ site.download }}/m5stickc-plus.json">
      M5StickC-Plus - 135x240 Screen
    </option>
    <option value="{{ site.download }}/m5atom-matrix.json">
      M5Atom-Matrix - Led Matrix
    </option>
  </optgroup>
</select>

<esp-web-install-button manifest="{{ site.download }}/esp32.json"></esp-web-install-button>
<br>
<input type="checkbox" id="erase" name="erase" onchange="toggleErase()">
<label for="erase"> Clean install (allows you to change settings)</label><br><br>
<script>
  const selectEl = document.querySelector("select");
  const installEl = document.querySelector("esp-web-install-button");
  installEl.manifest = selectEl.value;
  selectEl.addEventListener("change", () => {
    installEl.manifest = selectEl.value;
  });

  function toggleErase() {
  if (document.getElementById('erase').checked) {
    installEl.setAttribute('erase-first','');
  } else {
    installEl.removeAttribute('erase-first');
  }
}
</script>
</div>
