<center>
  <div>
    <script>
      /* Regex to validate base64 strings */
      var b64_regex = /^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$/;

      /* Attempt to decode this as if it was an XML document straight from keychain.
         Return null if this cannot be done. */
      function tryDecodeXML(str) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(str, "text/xml");
        var res = doc.evaluate('//key[text()="Remote IRK"]//following-sibling::data/text()', doc, null, XPathResult.STRING_TYPE, null);
        if (res && res.stringValue) {
          return tryDecodeBase64(res.stringValue.trim());
        }
        return null;
      }

      function isBase64(str) {
        return !!b64_regex.exec(str);
      }

      function tryDecodeBase64(str) {
        if (!isBase64(str)) {
          return null;
        }

        for (var i = 0, bin = atob(str.replace(/[ \r\n]+$/, "")), hex = []; i < bin.length; ++i) {
          var tmp = bin.charCodeAt(i).toString(16);
          if (tmp.length === 1) tmp = "0" + tmp;
          hex[hex.length] = tmp;
        }
        return hex;
      }

      function decode(e) {
        var input = document.getElementById('base64_input');
        var output = document.getElementById('base64_output');
        var data = input.value;

        var decoded = tryDecodeXML(data) || tryDecodeBase64(data);
        if (!decoded) {
          output.innerText = "Please paste the XML from iCloud or a Base64 encoded string";
          output.style = 'color: red;';
          return;
        }

        output.innerText = decoded.reverse().join('');
      }

    </script>
    <textarea type="text" id="base64_input" cols="32" rows="12"></textarea><br><br>
    <button type="button" onclick="decode()">Convert</button>
    <br><br>
    <b>Output</b>
    <div id="base64_output" style="font-family: monospace;"><span style="color: gray">Enter base64 above...</span></div>
    <br><br>
  </div>
</center>
